.navbar-custom, .card, .modal-header, .modal-body, .modal-footer {
  background-color: #fcedda;
  color: #f5816e;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}
.nav-link {
  color: #f5816e;
  transition: 0.3s;
  opacity: 1;
}

.nav-link:hover {
  color: #f5816e;
  opacity: 0.6;
}

.active,
.btn {
  background-color: #f5816e;
  color: #fcedda !important;
}

.btn {
  opacity: 0.8;
  transition: 0.3s;
}
.btn:hover {
  color: #fcedda;
  opacity: 1;
}


.nav-icon {
    max-width: 80px;
    max-height: 100%;
    border: 2px solid #f5816e;
    border-radius: 1em;
}

h3, p{
  background-color: #FCEDDA;
  color: #F5816E;
}

.doc-card, .quiz-list-card, .forum-list-card {
  transition: transform 0.3s ease-out;
}

.card a:hover, .card button:hover {
  opacity: 1;
  color: #F5816E;
}

.doc-card:hover, .quiz-list-card:hover, .forum-list-card:hover {
  transition: transform 0.3s ease-out;
  transform: translate(-5px, -5px);
}

.aligment-container {
  margin-top: 5%;
}


a, button {
  text-decoration: none;
  color: #F5816E;
  opacity: 0.6;
  transition: 0.3s;
}


.doc-card {
  height: 100%;
}

.input-form--invalid label,
.input-form--invalid p {
  color: red;
}

.input-form--invalid input,
.input-form--invalid textarea {
  border-color: red;
  background: #ffd1d1;
}