.bg-image {
  filter: blur(8px);
  -webkit-filter: blur(8px);

  height: 70vh;
  width: 80vw !important;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5%;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f5816e;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40vw;
  padding: 20px;
  text-align: center;
}

.carousel-p-tag {
  font-weight: bold;
}

:root {
  --card-height: 40vw;
  --card-margin: 4vw;
  --card-top-offset: 1em;
  --numcards: 3;
  --outline-width: 0px;
}

#cards {
  padding-bottom: calc(
    var(--numcards) * var(--card-top-offset)
  ); /* Make place at bottom, as items will slide to that position*/
  margin-bottom: var(
    --card-margin
  ); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
}

#card_1 {
  --index: 1;
}

#card_2 {
  --index: 2;
}

#card_3 {
  --index: 3;
}

.homepage-card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--card-top-offset));
}

@supports (animation-timeline: works) {
  @scroll-timeline cards-element-scrolls-in-body {
    source: selector(body);
    scroll-offsets:
			/* Start when the start edge touches the top of the scrollport */ selector(#cards) start 1,
      /* End when the start edge touches the start of the scrollport */ selector(#cards) start 0;
    start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport */
    end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport */
    time-range: 3s;
  }

  .homepage-card {
    --index0: calc(var(--index) - 1); /* 0-based index */
    --reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
    --reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
  }

  .card__content {
    transform-origin: 50% 0%;
    will-change: transform;

    --duration: calc(var(--reverse-index0) * 1s);
    --delay: calc(var(--index0) * 1s);

    animation: var(--duration) linear scale var(--delay) forwards;
    animation-timeline: cards-element-scrolls-in-body;
  }

  @keyframes scale {
    to {
      transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
    }
  }
}

/** PAGE STYLING **/

* {
  /* Poor Man's Reset */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  width: 80vw;
  margin: 0 auto;
}

.homepage-header {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/HTML_Layout_background.jpg");
  background-size: 1500px, 1500px;
}

.logged-in-homepage-header {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.homepage-header h1,
.homepage-header p {
  color: #fcedda !important;
}

#cards {
  list-style: none;
  outline: calc(var(--outline-width) * 10) solid blue;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--numcards), var(--card-height));
  gap: var(--card-margin);
}

.homepage-card {
  outline: var(--outline-width) solid hotpink;
}

.card__content {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
  background: #fcedda;
  color: rgb(10, 5, 7);
  border-radius: 1em;
  overflow: hidden;

  display: grid;
  grid-template-areas: "text img";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  align-items: stretch;
  outline: var(--outline-width) solid lime;
}

.card__content > div {
  grid-area: text;
  width: 80%;
  place-self: center;
  text-align: left;

  display: grid;
  gap: 1em;
  place-items: start;
}

.card__content > figure {
  grid-area: img;
  overflow: hidden;
}

.card__content > figure > img {
  width: 100%;
  height: 1000px;
  object-fit: cover;
}

aside {
  width: 50vw;
  margin: 0 auto;
  text-align: left;
}

aside p {
  margin-bottom: 1em;
}

.htmlearning-logo {
  height: 15%;
  margin-left: 15%;
  margin-top: 2%;
  float: left;
}

.scroll-down-tag {
  margin-left: 18%;
}

/* 
  MEDIA QUERIES 
*/

@media only screen and (max-width: 1270px) {
  .bg-text {
    margin-top: 20%;
  }
  
  .card__content {
    height: 150%;
    display: block;
  } 

  .card__content h2 {
    margin-bottom: 0;
    margin-left: 8%;
    margin-top: 5%;
  }

  .card__content p {
    margin-bottom: 5%;
    margin-left: 8%;
  }

  .htmlearning-logo {
    visibility: hidden;
  }

}

@media only screen and (max-width: 530px) {
  .bg-text {
    width: 100%;
  }

  #cards {
    margin-left: -10%;
  }

  .card__content figure img {
    visibility: hidden;
  }

  .card__content h2 {
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 10%;
    margin-top: 10%;
  }

  .card__content p {
    font-size: 12px;
    margin-bottom: 5%;
    margin-left: 10%;
  }

  .btn--accent {
    font-size: 10px;
  }

  .welcome-user {
    margin-right: 5%;
    margin-bottom: -30%;
  }

  .homepage-header h1, .homepage-header p {
    margin-left: 10%;
    color: #f5816e !important;
  }

  .homepage-header {
    background: none;
  }

  .homepage-card {
    height: 170px;
    margin-bottom: 10%;
  }
}

